h1
{
  color: #DC143C;
}
h1
{
  font-family: "Brush Script Std";
}
h1
{
  font-size: 35px;
}
h2.thick {
  font-weight: bold;
}
h3.thick {
  font-weight: bold;
}
h4.thick {
  font-weight: bold;
}
h5.thick {
  font-weight: bold;
}
p.thick {
  font-weight: bold;
}
